<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
  <!-- nlog configuration -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="NLog.Extended" />
    </extensions>
    <variable name="logsDir" value="C:/Logs/IIS/TotalProduce" />
    <variable name="logLinePrefix" value="[${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss\.fff}] ${threadid:padding=-3} ${level:upperCase=true:padding=-5} ${logger}>" />
    <variable name="logException" value="${onexception:${newline}EXCEPTION OCCURED:${newline}${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=20}}" />
    <targets async="true">
      <target name="commonDebug" xsi:type="File" fileName="${logsDir}/CommonLogsDir/${date:format=yyyy}/${date:format=yyyyMM}/${date:format=yyyyMMdd}/Debug.log" layout="${logLinePrefix}${message}" archiveAboveSize="10485760" maxArchiveFiles="100" />
      <target name="commonInfo" xsi:type="File" fileName="${logsDir}/CommonLogsDir/${date:format=yyyy}/${date:format=yyyyMM}/${date:format=yyyyMMdd}/Info.log" layout="${logLinePrefix}${message}" archiveAboveSize="10485760" maxArchiveFiles="100" />
      <target name="commonError" xsi:type="File" fileName="${logsDir}/CommonLogsDir/${date:format=yyyy}/${date:format=yyyyMM}/${date:format=yyyyMMdd}/Error.log" layout="${logLinePrefix}${message}" archiveAboveSize="10485760" maxArchiveFiles="100" />
      <target name="commonException" xsi:type="File" fileName="${logsDir}/CommonLogsDir/${date:format=yyyy}/${date:format=yyyyMM}/${date:format=yyyyMMdd}/Exception.log" layout="${logLinePrefix}${message} ${logException}" archiveAboveSize="10485760" maxArchiveFiles="100" />
      <target name="commonFatal" xsi:type="File" fileName="${logsDir}/CommonLogsDir/${date:format=yyyy}/${date:format=yyyyMM}/${date:format=yyyyMMdd}/Fatal.log" layout="${logLinePrefix}${message}" archiveAboveSize="10485760" maxArchiveFiles="100" />
      <target name="userLogs" xsi:type="File" fileName="${logsDir}/Users/${date:format=yyyy}/${date:format=yyyyMM}/${date:format=yyyyMMdd}/${aspnet-user-identity}/${aspnet-sessionid}.log" layout="${logLinePrefix} ${message}${logException}" archiveAboveSize="10485760" maxArchiveFiles="100" />
    </targets>
    <rules>
      <!--<logger name="*" minlevel="Debug" writeTo="commonDebug" />-->
      <logger name="*" minlevel="Info" writeTo="commonInfo" />
      <logger name="*" minlevel="Error" writeTo="commonError" />
      <logger name="*" minlevel="Error" condition="length('${exception}') == 0" action="Ignore" writeTo="commonException" />
      <logger name="*" minlevel="Fatal" writeTo="commonFatal" />
      <logger name="*" minlevel="Info" writeTo="userLogs">
        <filters>
          <when condition="length('${aspnet-user-identity}') == 0" action="Ignore" />
          <when condition="length('${aspnet-sessionid}') == 0" action="Ignore" />
        </filters>
      </logger>
    </rules>
  </nlog>
</configuration>