<?xml version="1.0"?>
<configuration>
  <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="PingPeriod" value="6"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_FreshTradeService" sendTimeout="00:30:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="656000" maxBytesPerRead="656000" maxNameTableCharCount="656000" />
        </binding>
        <binding name="WSHttpBinding_IReportingService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:61111/UserService.svc" behaviorConfiguration="clientWithCookieSession"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_FreshTradeService"
        contract="UserServiceReference.IUserService" name="WSHttpBinding_FreshTradeService" />
      <endpoint address="http://localhost:61111/DictionaryService.svc"
        behaviorConfiguration="clientWithCookieSession" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_FreshTradeService" contract="DictionaryServiceReference.IDictionaryService"
        name="WSHttpBinding_FreshTradeService" />
      <endpoint address="http://localhost:61111/SalesOfficeService.svc"
        behaviorConfiguration="clientWithCookieSession" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_FreshTradeService" contract="SalesOfficeService.ISalesOfficesService"
        name="WSHttpBinding_FreshTradeService" />
      <endpoint address="http://localhost:61111/AccountService.svc"
        behaviorConfiguration="clientWithCookieSession" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_FreshTradeService" contract="AccountService.IAccountsService"
        name="WSHttpBinding_FreshTradeService" />
      <endpoint address="http://localhost:61111/CustomerService.svc"
        behaviorConfiguration="clientWithCookieSession" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_FreshTradeService" contract="CustomerService.ICustomerService"
        name="WSHttpBinding_FreshTradeService" />
      <endpoint address="http://localhost:61111/PreInvService.svc"
        behaviorConfiguration="clientWithCookieSession" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_FreshTradeService" contract="PreInvService.IPreInvService"
        name="WSHttpBinding_FreshTradeService" />
      <endpoint address="http://localhost:61111/PreInvReportService.svc"
        behaviorConfiguration="clientWithCookieSession" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_FreshTradeService" contract="PreInvReportService.IPreInvReportService"
        name="WSHttpBinding_FreshTradeService" />
      <endpoint address="http://localhost:61111/ReportingService.svc"
        behaviorConfiguration="clientWithCookieSession" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_FreshTradeService" contract="ReportingService.IReportingService"
        name="WSHttpBinding_FreshTradeService"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="clientWithCookieSession">
          <clientInterceptors />
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="clientInterceptors"
          type="Bsdl.FreshTrade.UI.Basic.Utilities.Sessions.CookieSessionBehaviorExtension, Bsdl.FreshTrade.UI.Basic"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <extensions>
            <add assembly="NLog.Extended" />
        </extensions>
        <variable name="logsDir" value="D:\Logs\TotalProduceClientDapper" />
        <variable name="logLinePrefix" value="[${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss\.fff}] ${threadid:padding=-3} ${level:upperCase=true:padding=-5} ${logger}&gt;" />
        <variable name="logException" value="${onexception:${newline}EXCEPTION OCCURED:${newline}${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=20}}" />
        <targets async="true">
            <target name="commonDebug" xsi:type="File" fileName="${logsDir}/${date:format=yyyy_MM}/${date:format=dd}/TeleSales_${date:format=yyyyMMdd_HH}.log" layout="${logLinePrefix}${message}" archiveAboveSize="10485760" maxArchiveFiles="100" />
        </targets>
        <rules>
            <logger name="*" minlevel="Debug" writeTo="commonDebug" />
        </rules>
    </nlog>
</configuration>
