<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="PingPeriod" value="6"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_FreshTradeService" sendTimeout="00:30:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="656000" maxBytesPerRead="656000" maxNameTableCharCount="656000" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://totalproduceserver:61111/UserService.svc" behaviorConfiguration="clientWithCookieSession"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_FreshTradeService"
        contract="UserServiceReference.IUserService" name="WSHttpBinding_FreshTradeService" />
      <endpoint address="http://totalproduceserver:61111/DictionaryService.svc"
        behaviorConfiguration="clientWithCookieSession" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_FreshTradeService" contract="DictionaryServiceReference.IDictionaryService"
        name="WSHttpBinding_FreshTradeService" />
      <endpoint address="http://totalproduceserver:61111/SalesOfficeService.svc"
        behaviorConfiguration="clientWithCookieSession" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_FreshTradeService" contract="SalesOfficeService.ISalesOfficesService"
        name="WSHttpBinding_FreshTradeService" />
      <endpoint address="http://totalproduceserver:61111/AccountService.svc"
        behaviorConfiguration="clientWithCookieSession" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_FreshTradeService" contract="AccountService.IAccountsService"
        name="WSHttpBinding_FreshTradeService" />
      <endpoint address="http://totalproduceserver:61111/CustomerService.svc"
        behaviorConfiguration="clientWithCookieSession" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_FreshTradeService" contract="CustomerService.ICustomerService"
        name="WSHttpBinding_FreshTradeService" />
      <endpoint address="http://totalproduceserver:61111/PreInvService.svc"
        behaviorConfiguration="clientWithCookieSession" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_FreshTradeService" contract="PreInvService.IPreInvService"
        name="WSHttpBinding_FreshTradeService" />
      <endpoint address="http://totalproduceserver:61111/ReportingService.svc"
        behaviorConfiguration="clientWithCookieSession" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_FreshTradeService" contract="ReportingService.IReportingService"
        name="WSHttpBinding_FreshTradeService"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="clientWithCookieSession">
          <clientInterceptors />
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="clientInterceptors"
          type="Bsdl.FreshTrade.UI.Basic.Utilities.Sessions.CookieSessionBehaviorExtension, Bsdl.FreshTrade.UI.Basic"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value=".\log.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger – %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
</configuration>
