<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IUserService" />
                <binding name="WSHttpBinding_IDictionaryService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61105/UserService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IUserService" contract="UserServiceReference.IUserService"
                name="WSHttpBinding_IUserService" />
            <endpoint address="http://localhost:61111/DictionaryService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDictionaryService"
                contract="DictionaryServiceReference.IDictionaryService" name="WSHttpBinding_IDictionaryService">
                <identity>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>